<div id="container">
  <ul>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/main">View Golden</li></a>
    <li><a href="/private">View gif Golden</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>